body {
    margin: 0;
    background: #f2f2f2;
  }
  table {
      width: 100%;
      border-collapse: collapse;
  }

  table td {
      padding: 5px;
  }

  table tbody td {
      text-align: center;
  }

  table tbody tr:first-child td {
      border-top: none;
      border-right: none;
  }

  table tbody tr:last-child td {
      border-bottom: none;
      border-right: none;
  }

  table tbody tr td:first-child {
      border-left: none;
  }

  table tbody {
      box-shadow: 0 0 0 2px #19dbd0;
      border-radius: 10px;
  }
  td {
      text-align: center;
      padding: 15px;
  }
  #td1
  {
      background-color: rgba(09,41,98,0.9);
      color: white;
      border: 10px;
      margin-top: -10px;
      padding: 10px;
  }
  .basic_box {
      border: 1px solid #ccc;
      border-radius: 15px;
      margin: auto;
      padding: 50px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  }
  th {
      font-weight: bold;
      padding-left: 15px;
      padding: 15px;
  }
  ul
      {
            list-style-type: none;
          background-color: rgba(09,41,98,0.9);
          margin-bottom: 10px;
          color: white;
          margin-top: 0px;
          padding: 0px;
          overflow: hidden;
          margin-left: -10px;
          margin-right: -10px;
          z-index: 1;
          position: sticky;
          top: 0px;
      }
      li
      {
          display: inline;
          float: left;
      }
  li a {
        display: block;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
  }

  li a.active {
        background-color: #e6b800;
        color: white;
  }

  li a:hover:not(.active) {
        background-color: #e6b800;
        color: white;
        text-decoration: underline;
  }